.styles {
  --primary-background-color: #E9EEF6;
  --card-shadow-color: #A5A5A5;
  --container-background-color: #F6F7F8;
}

.task-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--container-background-color);
  padding: 40px;
 
}

.card-wrapper {
  width: calc(25% - 20px); /* 25% width with a gap of 20px between cards */
  height: 200px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 50px var(--card-shadow-color);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.card-top {
  width: 100%;
  height: 2%;
}

.task-holder {
  width: 100%;
  height: 98%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.task-card-header {
  position: relative;
  top: 10px; /* Increased margin at the bottom */
  max-width: 80px;
  height: 30px;
  padding: 1px;
  text-align: center;
}

.task-holder button {
  margin-top: 10px;
  background-color: black;
  color: #E9EEF6;
}

@media (max-width: 768px) {
  .task-container {
    justify-content: center; /* Center cards on smaller screens */
  }

  .card-wrapper {
    width: calc(90% - 20px);
  }

  .task-holder button {
    margin-top: 5px;
    width: 100%;
    font-size: 4.5px; /* Adjust font size for smaller screens */
    padding: 8px; /* Adjust padding for smaller screens */
  }

  .task-holder {
    padding: 5px; /* Adjust padding for smaller screens */
  }
}